/* header */
.cart__header {
  background-color: #8b2a2a;
  width: auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.cart__header-desk {
  background-color: #3a4d69;
  display: flex;
  width: 150px;
  height: 60px;
  align-items: center;
  justify-content: center;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  border-radius: 999px;
}
/* nut thuc don */
.cart__header-button {
  background-color: #12103d;
  border-radius: 24px;
  display: block;
  width: 150px;
  height: 60px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  border-radius: 999px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s, box-shadow 0.1s;
}
.cart__header-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
