/* src/Components/cart/CartBody.css */

.cart__body-binding {
  background-color: #812f2f;
  width: auto;
  height: auto;
  margin: 15px 0;
}

.cart__body-desc {
  padding: 60px 0;
  color: #c9d2da;
  font-size: 1.4rem;
  font-style: normal;
  text-align: center;
}

.cart__body-total {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 150px;
  color: #c9d2da;
  font-size: 1.4rem;
  font-style: normal;
  background: transparent;
}
.cart__body-items {
  margin: 15px 0;
}

.cart-item {
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #e9e9e9;
  border-bottom: 1px solid #333;
  border-radius: 25px;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.cart-item-info h4 {
  margin: 0;
  color: #000000;
  font-size: 1.6rem;
}

.cart-item-info p {
  margin: 5px 0;
  color: #000000;
  font-size: 1.2rem;
  max-width: 300px;
}

.cart-item-note {
  font-style: italic;
  color: #ffa500;
}

.cart-item-remove {
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: auto;
}

.cart-item-remove:hover {
  background: #cc0000;
}
