version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: emenu
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3307:3306" 

  backend:
    build: ./Backend/site1
    restart: on-failure 
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./Backend/site1:/app
    ports:
      - "8000:8000" 
    environment:
      - DB_HOST=db
      - DB_NAME=emenu
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_PORT=3306 
    depends_on:
      - db

  frontend:
    build: ./Frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306

volumes:
  db-data: